.navbar-com {
  position: fixed;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.ul-left, .ul-right {
  color: #fff;
  transition: .2s ease;
  padding-left: 0;
  display: flex;
  gap: 2rem;
  list-style-type: none;
}

.ul-b {
  color: #000;
  transition: .2s ease;
}
li {
  font-family: 'v-light', sans-serif;
  font-size: 12px;
}

.logow {
  position: relative;
  padding-top: 2.5rem;
  right: 2.7rem;
  width: 55px;
  filter: invert(100%);
  transition: .2s ease;
}

.logob {
  filter: invert(0);
  transition: .2s ease;
}
